
.contact-section {
  text-align: center;
  margin: 2rem;
}

.contact-section h2 {
  color: #a6cfeb; /* Choose a color that matches your theme */
}

.contact-section p {
  margin-bottom: 1rem;
}

.contact-section ul {
  list-style-type: none;
  padding: 0;
}

.contact-section li {
  margin: 0.5rem 0;
}

.contact-section a {
  color: #3498db; /* Link color */
}
